Project GutenBerg

In [75]:
def count_words(text):
    """
    Count the number of times each word occures in text (str). Returns a dictionary where
    keysare unique words and value are word counts. skips ponctuations
    """
    text = text.lower()
    skips = [".", ",", ";", "'", '"',":"]
    for ch in skips:
        text = text.replace(ch, "")
        
    word_counts = {}
    for word in text.split(" "):
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1
    return word_counts

In [76]:
from collections import Counter

def count_words_fast(text):
    """
    Count the number of times each word occures in text (str). Returns a dictionary where
    keysare unique words and value are word counts. skips ponctuations
    """
    text = text.lower()
    skips = [".", ",", ";", "'", '"',":"]
    for ch in skips:
        text = text.replace(ch, "")
        
    word_counts = {}
    word_counts = Counter(text.split(" "))
    return word_counts

In [77]:
text = "python is cool"

let's see if both functions return the same result

In [78]:
count_words(text)

{'cool': 1, 'is': 1, 'python': 1}

In [79]:
count_words_fast(text)

Counter({'cool': 1, 'is': 1, 'python': 1})

In [80]:
count_words_fast(text) == count_words(text)

True

In [81]:
def read_book(title_path):
    """
    Read a book and return it as a string
    """
    with open(title_path, "r", encoding="utf8") as current_file:
        text = current_file.read()
        text = text.replace("\n", "").replace("\r", "")
    return text

In [82]:
text = read_book("./books/English/shakespeare/romeo-and-juliet.txt")

In [83]:
len(text)

160952

Let's get the index of a famous sentence from Romeo and Juliet:

In [84]:
ind = text.find("What's in a name?")

In [85]:
ind

50859

Now, we'll get a sample text from the index ind, followed by 1000 characters:

In [86]:
sample_text = text[ind: ind+1000]

In [87]:
sample_text

"What's in a name? That which we call a rose    By any other name would smell as sweet.    So Romeo would, were he not Romeo call'd,    Retain that dear perfection which he owes    Without that title. Romeo, doff thy name;    And for that name, which is no part of thee,    Take all myself.  Rom. I take thee at thy word.    Call me but love, and I'll be new baptiz'd;    Henceforth I never will be Romeo.  Jul. What man art thou that, thus bescreen'd in night,    So stumblest on my counsel?  Rom. By a name    I know not how to tell thee who I am.    My name, dear saint, is hateful to myself,    Because it is an enemy to thee.    Had I it written, I would tear the word.  Jul. My ears have yet not drunk a hundred words    Of that tongue's utterance, yet I know the sound.    Art thou not Romeo, and a Montague?  Rom. Neither, fair saint, if either thee dislike.  Jul. How cam'st thou hither, tell me, and wherefore?    The orchard walls are high and hard to climb,    And the place death, conside"

In [88]:
len(sample_text)

1000

In [89]:
def word_stats(word_counts):
    """
    Return number of unique words and word frequencies.
    """
    num_unique = len(word_counts)
    counts = word_counts.values()
    return (num_unique, counts)

In [90]:
word_counts = count_words(text) 
(num_unique, counts) = word_stats(word_counts)
print("Romeo and Juliet:")
print("number of unique words:",num_unique,", total word frequencies: ",sum(counts))

Romeo and Juliet:
number of unique words: 4906 , total word frequencies:  39389

In [91]:
text = read_book("./books/German/shakespeare/romeo-und-julia-german.txt")

In [92]:
word_counts = count_words(text)
(num_uniques, counts) = word_stats(word_counts)
print("German version of Romeo and Juliet:")
print("number of unique words:",num_uniques,", total word frequencies: ",sum(counts))

German version of Romeo and Juliet:
number of unique words: 7525 , total word frequencies:  20311

Reading Multiple Files:

In [97]:
import os
import pandas as pd

In [111]:
book_dir = "./books"
stats = pd.DataFrame(columns = ("language", "author", "title", "length", "unique"))
title_num = 1

In [108]:
for language in os.listdir(book_dir):
    for author in os.listdir(book_dir +"/"+ language):
        for title in os.listdir(book_dir +"/"+ language +"/" + author):
            inputfile = book_dir + "/" + language + "/" +author +"/" +title
            print(inputfile)
            text = read_book(inputfile)
            (num_unique, counts) = word_stats(count_words(text))
            print("number of unique words:",num_unique,", total word frequencies: ",sum(counts))
            stats[title_num]=language, author.capitalize(),title.replace("txt",""), sum(counts), num_unique 
            title_num +=1

./books/English/shakespeare/romeo-and-juliet.txt
number of unique words: 4906 , total word frequencies:  39389
./books/German/shakespeare/romeo-und-julia-german.txt
number of unique words: 7525 , total word frequencies:  20311

In [109]:
stats.head()

,language,author,title,length,unique,1,2
0,NaN,NaN,NaN,NaN,NaN,English,German
1,NaN,NaN,NaN,NaN,NaN,Shakespeare,Shakespeare
2,NaN,NaN,NaN,NaN,NaN,romeo-and-juliet.,romeo-und-julia-german.
3,NaN,NaN,NaN,NaN,NaN,39389,20311
4,NaN,NaN,NaN,NaN,NaN,4906,7525